
		<footer class='bg-white h-20 relative'>
			<div class="h-full mx-auto w-full max-w-screen-xl px-2.5 md:px-20">
				<div class='border-t border-gray-200' />

				<div class='h-full flex flex-col md:flex-row md:justify-between justify-center items-center'>
					<div class='text-center md:text-left pb-2 md:pb-0'>
						<p class='text-sm text-muted-foreground'>
							&copy; 2024 All rights reserved
						</p>
					</div>

					<div class='flex items-center justify-center'>
						<div class='flex space-x-8'>
							<Link
								href='#'
								class='text-sm text-muted-foreground hover:text-gray-600'
							>
								Terms
							</Link>
							<Link
								href='#'
								class='text-sm text-muted-foreground hover:text-gray-600'
							>
								Privacy Policy
							</Link>
							<Link
								href='#'
								class='text-sm text-muted-foreground hover:text-gray-600'
							>
								Cookie Policy
							</Link>
						</div>
					</div>
				</div>
			</div>
		</footer>

